.arrow-box {
    position: relative;
    margin: 7%;
    width: 250px;
    height: 100px;
    background-color: rgb(136, 183, 213) ;
    border: 3px solid rgb(232, 239, 246);
    font-size: 90%;
    color:rgb(224, 236, 244) ;
    padding: 7px;
    text-align: left;
}
.arrow-box:before {
    z-index: 2;
    position: relative;
    top: -51%;
    left: 37.9%;
    width: 0px;
    height: 0px;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-bottom: 30px solid rgb(136, 183, 213);
    content: "";
}
.arrow-box::after {
    z-index: 1;
    position: relative;
    top: -143%;
    left: 11.3%;
    width: 0px;
    height: 0px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 35px solid rgb(232, 239, 246);
    content: "";
}

