.loader {
    position: relative;
    display: block;
 width:50px;
 height:50px;
 border-radius:  50%;
 background-color: green;
 border: 1px solid green;
 margin: 19% 50%;
}
#white {
    position: inherit;
 width:1px;
 height:1px;
 border-radius:  50%; 
 background-color: white;
  margin: 25% 50%;
  left:  0px;
  top:12px;
  animation: 3s pageloader infinite; 
  opacity: 0;
}

#first {
 position: inherit;
 width:5px;
 height:5px;
 border-radius:  50%; 
 background-color: white;
 top:-19px;
 left:22px;
 box-sizing: border-box;
 animation: 0.7s first infinite; 
}
#second {
 position: inherit;
 width:5px;
 height:5px;
 border-radius:  50%; 
 background-color: white;
 top:-9px;
 left:37px;
 animation: 0.7s second infinite; 
}
#third {
 position: inherit;
 width:5px;
 height:5px;
 border-radius:  50%; 
 background-color: white;
 top:1px;
 left:22px;
 animation: 0.7s third infinite; 
}
#four {
 position: inherit;
 width:5px;
 height:5px;
 border-radius:  50%; 
 background-color: white;
  top:-19px;
 left:8px;
 animation: 0.7s four infinite; 
}
@keyframes first{
    0% {}
    50% {}
    100% {top:-4px;
    left: 8px;}
}
@keyframes second{
    0% {}
    50% {}
    100% {top:-24px;
    left:23px;}
}
@keyframes third{
    0% {}
    50% {}
    100% {top:-14px;
    left: 37px;}
}
@keyframes four{
    0% {}
    50% {}
    100% {top:-4px;
    left:22px;}
} 

#animation2{
    display:inline;
}
#block1{
    position: relative;
    top:52px;
width: 40px;
left: 20px;
height: 80px;
border: none;
background-color: blue;
transform: rotate(315deg);

}
#circle{
    position: relative;
    top:-50px;
    left:40px;
    width: 50px;
    height: 50px;
    border:none;
    border-radius: 50%;
    background-color: green;
    animation: 3s bouncing linear infinite;
}
#block2{
    position: relative;
    left:180px;
    top:-115px;
width: 40px;
height: 80px;
border: none;
background-color: blue;
}

@keyframes bouncing {
    0%{}
    25%{top: -70px;
    left:80px;}
    50%{top:-50px;
    left:130px;}
    75%{top: -70px;
    left:80px;}
    100%{}
}

#block {
    position:relative;
    width: 50px;
    height: 50px;
    border:none;
    background: linear-gradient(-45deg,#000, blue);
    animation: 5s custom ease-in-out infinite;
    transform: rotate(0deg);
}
@keyframes custom {
0%{}
15%{border-radius: 50%}
30%{background: linear-gradient(45deg,red, yellow);}
45%{background: linear-gradient(45deg,red, yellow);
    width:30px;
height:15px;
transform: skewX(13deg) skewY(-13deg);
}
60%{background: linear-gradient(45deg,red, yellow);
    transform: rotate(360deg);
}
75%{background: linear-gradient(-45deg,#000, blue);}
90%{border-radius: 50%}
100%{}

}