* {
    box-sizing: border-box;
}

label {
    z-index: 2;
    display: block;
    position: absolute;
    top: 0%;
    width: 100px;
    height: 30px;
    left: 43.85%;
    /*margin: 8px auto;*/
    padding: 6px 15px;

    background: rgb(53, 186, 246);
    border: 1px solid rgb(16, 168, 236);
    border-top: 1px solid gray;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    outline: none;
    transition: box-shadow 1.5s ease-in-out,top 1.5s ease-in-out;
    color: white;    
}
input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

    



.dropdown ul {
    position: absolute;
    left: 43.85%;
    top: -100px;
    width: 100px;
    background: rgb(53, 186, 246);
    border: 1px solid rgba(0,0,0,0.2);
    border-top: none;
    border-bottom: none;
    list-style: none;
    transition: all 1.5s ease-in-out;
    overflow: hidden;
    padding: 0px 3px 0px 3px;
    text-align: center;
    color: white;
    cursor: pointer;
}

input[type=checkbox]:checked ~ .dropdown:not(ul){
    top: 87px;}
    input[type=checkbox]:checked ~ .dropdown + ul{
    top: -2.5%;}

label:hover {
        box-shadow: 0 2.5px 10px 3px rgba(53,186,246,0.6);
}
li:hover {
    background-color: rgb(3, 169, 244) ;
}