* {
    box-sizing: border-box;
    font-size: 90%;
}
#main>div:hover{
    background-color: rgba(255, 00, 00, 0.7);
}
#main {
    display: inline-block;
    position: relative;
    width: 96.2%;
    height: 45px;
    background-image: url(background.jpg);
}
#msg{
    position: inherit;
    padding: 2px 2px;
    left: 0;
    width:65px;
    height: 45px;
    background: url(mail.png)  20% 50% no-repeat;
    background-color: rgba(98, 75, 161, 0.7);
}
#msg:after{
    display: block;
    content: "2";
    color: white;
    text-align: center;
    padding: 4px 0px 0px 0px;
    position: relative;
    left: 25px ;
    top: 12px ;
    width: 18px;
    height: 18px;
    background: red;
    border: none;
    border-radius: 50%;
}
#page{
    display: inline-block;
    position: inherit;
    top: -45px;
    padding: 2px 2px;
    left: 69px;
    width:65px;
    height: 45px;
    background: url(page.png)  20% 50% no-repeat;
    background-color: rgba(98, 75, 161, 0.7);
}
#page:after{
    display: block;
    content: "223986";
    color: white;
    text-align: center;
    position: relative;
    padding: 4px 0px 0px 0px;
    left: 25px ;
    top: 12px ;
    width: 36px;
    height: 18px;
    background: red;
    border: none;
    border-radius: 100px / 50px;
}

#user{
    position: inherit;
    padding: 2px 2px;
    top: -90px;
    left: 138px;
    width:65px;
    height: 45px;
    background: url(user.png)  20% 50% no-repeat;
    background-color: rgba(98, 75, 161, 0.7);
}
#user:after{
    display: block;
    content: "!";
    color: white;
    text-align: center;
    position: relative;
    padding: 4px 0px 0px 0px;
    left: 25px ;
    top: 12px ;
    width: 18px;
    height: 18px;
    background: red;
    border: none;
    border-radius: 50%;
}
#flag{
     position: inherit;
    padding: 2px 2px;
    top: -135px;
    left: 208px;
    width:45px;
    height: 45px;
    background: url(flag.png)  50% 50% no-repeat;
    background-color: rgba(98, 75, 161, 0.7);
}
#checked {
       position: inherit;
    padding: 2px 2px;
    top: -180px;
    left: 257px;
    width:45px;
    height: 45px;
    background: url(checked.png)  50% 50% no-repeat;
    background-color: rgba(98, 75, 161, 0.7);
}
#refresh {
       position: inherit;
    padding: 2px 2px;
    top: -225px;
    left: 1019px;
    width:65px;
    height: 45px;
    background: url(refresh.png)  50% 50% no-repeat;
    background-color: rgba(98, 75, 161, 0.7);
}
#widget {
position: inherit;
    padding: 2px 2px;
    top: -270px;
    left: 1089px;
    width:65px;
    height: 45px;
    background: url(widget.png)  50% 50% no-repeat;
    background-color: rgba(98, 75, 161, 0.7);
}
   

#exit {
       position: inherit;
    padding: 2px 2px;
    top: -315px;
    left: 1234px;
    width:65px;
    height: 45px;
    background: url(exit.png)  50% 50% no-repeat;
    background-color: black;
}
#exit2{
          position: inherit;
    padding: 2px 2px;
    top: -360px;
    left: 1159px;
    width:75px;
    height: 45px;
    color: white;
    background-color: black;
    font-size: 115%;
    text-align: center;
    padding-top: 15px;
    padding-left: 8px;
    content: "Выход";
}
